.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 80%;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shopcategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  background: #c8a1e0;
  /* linear-gradient(
      60deg,
      rgba(226, 236, 178, 1) 0%,
      rgba(38, 202, 82, 1) 100%
    ); */

  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.shopcategory-sort select {
  border: none;
  background: transparent;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.shopcategory-products .item img {
  width: 75%;
  height: 75%;
  object-fit: cover;
  border-radius: 8px;
}

.shopcategory-sort img {
  margin-left: 10px;

  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.shopcategory-sort:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shopcategory-sort:hover img {
  transform: rotate(180deg);
}

.sort-label {
  color: #333;
  margin-right: 10px;
}

.shopcategory-indexSort p span {
  font-weight: 600;
  color: #555;
}

.shopcategory-products {
  width: 90%;
  max-width: 1360px;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.shopcategory-products .item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shopcategory-products .item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 200px;
  height: 60px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shopcategory-loadmore:hover {
  background: #dcdcdc;
  color: #555;
}

@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
    width: 90%;
  }

  .shopcategory-indexSort {
    width: 90%;
    margin: auto;
  }

  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }

  .shopcategory-indexSort p {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }

  .shopcategory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
